package ${package}.entity;

import javax.persistence.Entity;
import javax.persistence.Table;

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

import com.foomei.common.entity.${idStrategy}Entity;

/**
 * ${model}
 */
@Getter
@Setter
@ToString(callSuper=true)
@NoArgsConstructor
@Entity
@Table(name = "${tableName}")
@SuppressWarnings("serial")
public class ${model} extends ${idStrategy}Entity {
	<#list props?keys as k>
	public static final String PROP_${props[k]} = "${k}";
	</#list>
	
	<#list fields?keys as k>
	private ${fields[k]} ${k};
	</#list>
	
}