 
body {
	padding-top: 0px;
}

.main-content {
    padding-bottom: 0px;
}

[class*=col-lg], [class*=col-md], [class*=col-sm], [class*=col-xs] {
    margin-bottom: 0px;
}

.s_box {
    margin: 0px;
}

.s_box_title {
	min-height: 160px;
	border-top: none;
	padding-left: 100px;
	padding-right:0px;  
}

.s_box_content  {
   border-width:0px 0px; 
   padding-top:0px;
}

.s_box_title .title-name {
	padding-top:15px;
	padding-bottom:5px; 
	font-size: 24px;
	font-family: "微软雅黑"; 
} 

.s_box_title .title-code {
	padding-top:5px;
	padding-bottom:10px; 
	font-size: 20px;
}

.img-logo {
	float: left;
	z-index: 100;
	margin-top: -10px;
	margin-left: -80px; 
	margin-right:50px;
}

.img-qr {
	float: right;
	z-index: 100;
	margin-right:6px;
	width:160px;
}

ol {
	padding-left:20px;
	font-size: 12px;
}
.s_box_footer {
	background-color: #fff;
	color: inherit;
	margin-bottom: 0px 0px;
	padding-left:30px;
	min-height: 90px;
	text-indent:2em;
}

.s_box_footer .img-phone {
	float: right;
	position: absloute;
	margin-top: 0px;
	margin-right: 10px;
}


@media print{
   .btn-print-qianming,.row-print {
      display:none;
   }
}