i.icon.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23009944'%2F%3E%3C%2Fsvg%3E");
}
div.sliding>a{
	color:green
}
.button{
	border:1px solid green;
}
.button.button-fill,.button.active {
	background:green;
 	color:white;
} 
.button.button-big.close-popup {
	border:1px solid green;
	color:green;
	background:white;
}
.button.close-popup.active-state{
	background:rgba(116, 245, 138, 0.15);
}
