package ${package}.entity;

import javax.persistence.*;

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

import org.apache.commons.lang3.StringUtils;
import com.foomei.common.entity.*;

/**
 * ${comment}
 */
@Getter
@Setter
@ToString(callSuper=true)
@NoArgsConstructor
@Entity
@Table(name = "${tableName}")
@SuppressWarnings("serial")
public class ${model} extends ${idStrategy}Entity<#if hasImplement> implements ${implements}</#if> {
  <#list props?keys as k>
  public static final String PROP_${props[k]} = "${k}";
  </#list>

  <#list consts as const>
  ${const}
  </#list>

  <#list fields?keys as k>
  <#if fields[k].first == 'java.time.LocalDate'>
  @org.springframework.format.annotation.DateTimeFormat(pattern="yyyy-MM-dd")
  @Temporal(TemporalType.DATE)
  private java.util.Date ${k};//${fields[k].second}
  <#elseif fields[k].first == 'java.time.LocalDateTime'>
  @org.springframework.format.annotation.DateTimeFormat(pattern="yyyy-MM-dd HH:mm:ss")
  private java.util.Date ${k};//${fields[k].second}
  <#else>
  private ${fields[k].first} ${k};//${fields[k].second}
  </#if>
  </#list>
  <#if hasCreateRecord>

  public boolean isCreated() {
  <#if idStrategy == 'Id'>
    return id != null;
  <#else>
    return StringUtils.isNotEmpty(id);
  </#if>
  }
  </#if>
  <#if hasDeleteRecord>

  public void markDeleted() {
    delFlag = true;
  }
  </#if>
	
}