package ${package}.service;

import com.foomei.common.service.impl.JpaServiceImpl;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${package}.dao.jpa.${model}Dao;
import ${package}.entity.${model};

/**
* ${model}Service
*/
@Service
@Transactional(readOnly = true)
public class ${model}Service extends JpaServiceImpl<${model}, ${idType}> {

}