<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="true">

	<description>使用Spring的 Scheduled的定时任务配置</description>

	<!-- namespace 方式 的便捷版 -->
	<task:scheduler id="springScheduler" pool-size="2"/>

	<task:scheduled-tasks scheduler="springScheduler">
		<task:scheduled ref="logService" method="clear" cron="0 0 2 * * ?" />
	</task:scheduled-tasks>
</beans> 