<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>导入项目中的applicationContext文件列表</description>

	<beans profile="svr,prod">
		<import resource="cache/applicationContext-ehcache.xml" />
		<import resource="security/applicationContext-shiro.xml" />
		<import resource="schedule/applicationContext-spring-scheduler.xml" />
		<import resource="monitor/applicationContext-profiler.xml" />
	</beans>

	<beans profile="dev">
		<import resource="cache/applicationContext-ehcache.xml" />
		<import resource="security/applicationContext-shiro.xml" />
		<import resource="schedule/applicationContext-spring-scheduler.xml" />
		<import resource="monitor/applicationContext-profiler.xml" />
	</beans>

	<beans profile="test">
		<import resource="cache/applicationContext-ehcache.xml" />
		<import resource="security/applicationContext-shiro.xml" />
	</beans>

</beans>